.scientists {
  &-card-container {
    width: 620px;
    display: grid;
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: repeat(3, 110px);
    gap: 36px 60px;
    margin: 0 auto;
  }
  &-variants-container {
    margin-top: 36px;
    display: grid;
    gap: 10px 30px;
    grid-template-columns: auto auto;
    // align-content: start;
    justify-content: start;
  }
  &-variant {
    background-color: $txt-main-color;
    color: $background-color;
    padding: 10px 20px;
    border-radius: 20px;
    // flex: 1;
    // justify-self: center;
    // align-self: flex-start;

    // grid-column: span 1;
    &:last-child {
      //   display: flex;
      //   grid-column-start: 1;
      //   grid-column-end: 2;
      //   grid-template-rows: 2;
      //   align-items: center;
      grid-column: span 2;
    }
  }
}

.scientist {
  background-color: #cacaca;
  border-radius: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0 22px;
  font-size: 8px;
}
