.scientists {
  width: 100%;
  &-card-container {
    width: 620px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 36px 60px;
    margin: 0 auto;
  }
  &-variants-container {
    margin-top: 36px;
    display: grid;
    gap: 10px 30px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: start;
    & > div:nth-child(odd) {
      display: flex;
      justify-content: flex-end;
    }
  }
  &-variant {
    background-color: $txt-main-color;
    color: $background-color;
    padding: 10px 20px;
    border-radius: 20px;
  }
}
.scientists-variants-container > div:last-child {
  display: flex;
  grid-column: 1/-1;
  justify-self: center;
}
.scientist {
  width: 110px;
  height: 110px;
  background-color: #cacaca;
  border-radius: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0 22px;
  font-size: 8px;
}
