body {
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
    margin-top: 50px;
}

.yearInput {
  width: Hug (215px)px;
  height: Hug (35px)px;
  top: 273px;
  left: 432px;
  padding: 10px 45px 10px 10px;
  gap: 10px;
  border-radius: 20px 20px 20px 20px;
  opacity: 0px;
  background-color: #d7d7d7;
  display: flex;
}

.yearInput::placeholder {
    width: Hug (215px)px;
    height: Hug (35px)px;
    top: 273px;
    left: 432px;
    padding: 10px 45px 10px 10px;
    gap: 10px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    background-color: #d7d7d7;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
}

.check-btn {
  width: 35pxpx;
  height: 35pxpx;
  top: 273px;
  left: 612px;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  border-radius: 0px 20px 20px 0px;
  opacity: 0px;
  background-color: #000000;
  display: flex;
}

.check-btn_img {
  width: 15px;
  height: 15px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

input[type="button"] {
    padding: 10px;
    font-size: 16px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}

.result.leap {
    color: green;
}

.result.not-leap {
    color: red;
}